[
  {artifact, [
      [{rpc, [
        port: 11011,
        process_limit, 120
      ]}]

      {buckets, 2048}, 
      {vnodes, 256},
      {tables, 512},
      {store, ets},

      [{interfaces, [
        {max_connections, 128}
        [{memcache, [
          {port, 11211},
          {process_limit, 10},
        ]}]
      ]}]

      {participants, 1},
      {read_participants, 1},
      {write_participants, 1},
      {hash_function, murmur32}
  ]}

  %% % Logger related items 
  {lager, [
    {colored, true},
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "console.log"}, {level, info}]}
    ]}
  ]}.

]
